h1 {
    text-align: center;
    font-size: 60px;
    font-style: italic;
    color: brown;
}
h2 {
    text-align: center;
    font-size: 45px;
    color: rgb(0, 137, 55);
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}
h5 {
    text-align: center;
}
